# lives at /etc/systemd/system/nub_sens.service
[Unit]
Description=Set thinkpad nub sensitivity

[Service]
Type=oneshot
ExecStart=/bin/sh -c "echo 70 > /sys/devices/platform/i8042/serio1/sensitivity"

[Install]
WantedBy=multi-user.target
