IMAPAccount sample
Host ...
User ...
PassCmd ...

IMAPStore sample-remote
Account sample

MaildirStore sample-local
Subfolders Verbatim
Path ~/mail/sample/
Inbox ~/mail/sample/inbox

Channel sample
Master :sample-remote:
Slave :sample-local:
Patterns *
Create Both
SyncState *



IMAPAccount gmailsample
Host imap.gmail.com
User sample@example.com
PassCmd "pass mail/gmailsample"
SSLType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt
#CertificateFile ~/.cert/imap.gmail.com.pem
#CertificateFile ~/.cert/Equifax_Secure_CA.pem

IMAPStore gmailsample-remote
Account gmailsample

MaildirStore gmailsample-local
Subfolders Verbatim
Path ~/mail/gmailsample/
Inbox ~/mail/gmailsample/inbox

Channel gmailsample-default
Master :gmailsample-remote:
Slave :gmailsample-local:inbox

Channel gmailsample-sent
Master :gmailsample-remote:"[Gmail]/Sent Mail"
slave  :gmailsample-local:Sent

Channel gmailsample-trash
Master :gmailsample-remote:"[Gmail]/Trash"
slave  :gmailsample-local:Trash

Channel gmailsample-junk
Master :gmailsample-remote:"[Gmail]/Spam"
slave  :gmailsample-local:Junk

Create Both
SyncState *

Group gmailsample
Channel gmailsample-default
Channel gmailsample-trash
Channel gmailsample-archive
Channel gmailsample-sent
Channel gmailsample-junk
