Create Both
SyncState *

IMAPAccount sample
Host ...
User ...
PassCmd "pass mail/sample"
TLSType IMAPS

IMAPStore sample-remote
Account sample

MaildirStore sample-local
Subfolders Verbatim
Path ~/mail/sample/
Inbox ~/mail/sample/inbox

Channel sample
Far :sample-remote:
Near :sample-local:
Patterns *


IMAPAccount gmailsample
# Address to connect to
Host imap.gmail.com
User ...@gmail.com
PassCmd "pass google/gmailsample"
TLSType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt
#CertificateFile ~/.cert/imap.gmail.com.pem
#CertificateFile ~/.cert/Equifax_Secure_CA.pem

IMAPStore gmailsample-remote
Account gmailsample

MaildirStore gmailsample-local
Subfolders Verbatim
Path ~/mail/gmailsample/
Inbox ~/mail/gmailsample/inbox

Channel gmailsample-default
Far :gmailsample-remote:
Near :gmailsample-local:inbox
#Patterns INBOX

Channel gmailsample-sent
Far :gmailsample-remote:"[Gmail]/Sent Mail"
near  :gmailsample-local:Sent

Channel gmailsample-trash
Far :gmailsample-remote:"[Gmail]/Trash"
near  :gmailsample-local:Trash

Channel gmailsample-junk
Far :gmailsample-remote:"[Gmail]/Spam"
near  :gmailsample-local:Junk

Group gmailsample
Channel gmailsample-default
Channel gmailsample-trash
Channel gmailsample-sent
Channel gmailsample-junk
