@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
/*Remove Greasemonkey status bar icon*/
#status-bar #gm-status {
display: none !important;
}

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/*
 * CONFIG FOR NICER USE OF TREESTYLETABS ON FIREFOX QUANTUM
 */

/* hide the native tabs */
#TabsToolbar {
    visibility: collapse;
}

/* hide the sidebar header */
#sidebar-header {
    visibility: collapse;
}

/* decrease min sidebar width */
#sidebar {
    min-width: 100px !important;
  }

/* fix dark text boxes w/ arc theme */
input:not(.urlbar-input):not(.form-control):not([type='checkbox']):not([type='radio']), textarea, select {
    -moz-appearance: none !important;
    background-color: white;
    color: black;
}

#downloads-indicator-counter {
    color: white;
}

#webrtcIndicator {
    display: none !important;
  }

/* Restore urlbar in FF 77+ */
#urlbar[breakout][breakout-extend] {
  top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
  left: 0 !important;
  width: 100% !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding-block: 0px !important;
  padding-inline: 0px !important;
}

#urlbar[breakout][breakout-extend][breakout-extend-animate] > #urlbar-background {
  animation-name: none !important;
}
